@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{margin: 0; padding: 0;}

.col-12{flex-basis: 100%;}

.col-8{flex-basis: 65%;}

.col-7{flex-basis: 60%;}

.col-6{flex-basis: 50%;}

.col-5{flex-basis: 40%;}

.col-4{flex-basis: 31%;}

.col-2{flex-basis: 20%;}

.row {
    display: flex;
    flex-wrap: wrap;
}

.container{width: 100%; margin: auto; }

                 /*------topBar-----*/

.topBar-con {background: #FBFBFB;display: flex;color: #9b9c9e;text-align: right;justify-content: flex-end;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px solid #c3babaed;}

.topBar-con p {padding-right: 97px;font-size: 16px;font-weight: 500;font-family: 'Work Sans', sans-serif;}

.topBar-con p i {color: #48b4ef;padding: 9px;font-size: 20px;}
                 /*------------navbar-------*/

.logo {padding: 15px;padding-left: 55px;border-right: 1px solid #c3babaed;}

ul.nav-content-list {list-style: none;display: flex;color: #6a6868;font-family: 'Work Sans', sans-serif;border-right: 1px solid #c3babaed;}

ul.nav-content-list li {padding: 27px;font-size: 18px;text-transform: uppercase;letter-spacing: 0px;}

nav#nav {display: flex;border-bottom: 1px solid #c3babaed;}


              /*-----------nav-search-con-------*/

.nav-search-con {display: flex;padding-top: 18px;padding-left: 10px;}

.nav-search-con input {outline: none;}

.nav-search-con input {border-radius: 10px;outline: none;font-size: 19px;width: 123px;height: 33px;padding-left: 10px;border: 1px solid #00000054;}


                /*-----------------Banner -----------*/

.banner{background: url(.//images/medical.jpg);width: 100%;height: 550px;background-size: cover;}

.banner-con {text-align: right;overflow: hidden;font-size: 27px;font-family: 'Work Sans';padding-right: 180px;padding-top: 100px;}

.banner-con h1 {color: #2caee2;}

.banner-con h2 {color: #746b6b;padding-top: 25px;}

.banner-con h3 {font-size: 25px;padding-top: 25px;}

.banner-box {display: flex;font-family: 'Work Sans';justify-content: end;}

.banner-box p {FONT-VARIANT: JIS04;padding: 12px;font-family: 'Work Sans';font-size: 20px;border: 1px solid #2caee2;margin: 15px;margin-top: 50px;color: white;background: #2caee2;font-weight: 600;transition: 0.4s;}
 
.banner-box p:first-child:hover {padding: 12px;
    font-family: 'Work Sans';
    font-size: 20px;
    border: 1px solid #4f8da5;
    margin: 15px;
    margin-top: 50px;
    color: white;
    background: #4f8da5;
    font-weight: 600;}

.banner-box p:last-child {FONT-VARIANT: JIS04;
    padding: 12px;
    font-family: 'Work Sans';
    font-size: 20px;
    border: 1px solid #4b5255;
    margin: 15px;
    margin-top: 50px;
    color: white;
    background: #4b5255;
    font-weight: 600;
    transition: 0.4s;}

.banner-box p:last-child:hover {FONT-VARIANT: JIS04;
    padding: 12px;
    font-family: 'Work Sans';
    font-size: 20px;
    border: 1px solid #7a7d7e;
    margin: 15px;
    margin-top: 50px;
    color: white;
    background: #7a7d7e;
    font-weight: 600;
    transition: 0.4s;
}

            /*------------direction------------*/

section.direction {overflow: hidden;display: flex;}

.sec-name {text-align: center;font-family: 'Work Sans';font-size: 25px;padding-top: 20px;padding-bottom: 30px;color: #424141;}

.dir-con-img{background:url(./images/1-7.jpg);width: 300px;height: 300px;margin-right: 50px;background-size: cover;background-position: 50%;border: 1px solid white;border-radius: 10px;}

.dir-con-img2 {background: url(./images/2-7.jpg);
        
    height: 300px;
    width: 300px;background-size: cover;margin-right: 50px;display: block;background-position: 50%;border: 1px solid white;border-radius: 10px;}

.dir-con-img3 {background: url(./images/3-7.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;background-position: 50%;border: 1px solid white;border-radius: 10px;}

.dir-container {margin: auto;padding-top: 30px;padding-bottom: 30px;}

.dir-img-con {color: white;font-family: 'Work Sans';border: 1px solid white;border-radius: 2px;width: 220px;padding: 6px;text-align: center;margin: auto;margin-top: 114px;transition: 0.4s;}

.dir-img-con h1 {font-weight: 400;text-align: center;}

.dir-img-con1 {color: white;
    font-family: 'Work Sans';
    border: 1px solid white;
    border-radius: 2px;
    width: 191px;
    padding: 6px;
    text-align: center;
    margin: auto;
    margin-top: 114px;transition: 0.4s;}

.dir-img-con1 h1 {font-weight: 400;text-align: center;}

.dir-img-con3 {color: white;
    font-family: 'Work Sans';
    border: 1px solid white;
    border-radius: 2px;
    width: 98px;
    padding: 6px;
    text-align: center;
    margin: auto;
    margin-top: 114px;transition: 0.4s;}

.dir-img-con3 h1 {font-weight: 400;text-align: center;}

.dir-img-con1:hover {background: #5b5858;color: white;border: 1px solid #5b5858;}

.dir-img-con:hover {background: #5b5858;
        color: white;
        border: 1px solid #5b5858;}

.dir-img-con3:hover {background: #5b5858;
        color: white;
        border: 1px solid #5b5858;}










        /*---------------------team-------------------*/


.team-con-wrap {display: flex;overflow: hidden;}

.team-text {color: white;text-align: center;padding-top: 20px;padding-bottom: 20px;display: block;background: #3cb2e2;margin-top: -4px;}

.team-text h4 {font-size: 28px;letter-spacing: -1px;padding-bottom: 10px;}

.team-text span {font-size: 20px;letter-spacing: -1px;}

.team-info {display: block;}

.time-table {display: flex;color: black;font-size: 19px;padding-top: 15px;text-align: center;border-bottom: 1px solid #dec9c9;padding-bottom: 15px;}

.value {flex-basis: 50%;}

.lavel {text-align: center;flex-basis: 50%;}

.team-read-more {text-align: center;font-size: 24px;width: 124px;border: 1px solid #00a5ff;margin: auto;padding: 5px;background: white;transition: 0.3s;}

.team-info {background: white;padding-bottom: 35px;}

.team-con {margin-right: 20px;margin-left: 20px;}

.team-con-wrap {margin-left: 30px;margin-bottom: 30px;}

.team-read-more:hover {background: #00a5ff;color: white;border-radius: 5px;}







            /*-------------------Latest from blog---------*/


.blog-con-wrap {display: flex;margin-left: 35px;}

.blog-head {color: black;font-size: 20px;padding-top: 15px;padding-bottom: 15px;}

.blog-text {color: black;font-size: 20px;line-height: 30px;padding-bottom: 30px;display: block;}

.blog-box {transition: 0.3s;margin: auto;width: 105px;font-size: 23px;padding: 8px;border: 1px solid #28a7db;margin-bottom: 40px;}

.blog-box:hover {border: 1px solid #28a7db;background: #28a7db;color: white; border-radius: 5px;}

.blog-con {margin-right: 20px;margin-left: 20px;}            

.blog-head p {color: #0a26ea;font-size: 20px;padding-top: 17px;}





    /*---------------footer----*/

.footer-con-wrap {display: flex;padding-bottom: 40px;margin: auto;padding-top: 20px;}

.footer-1-col-wrap {width:  400px;font-size: 20px;line-height: 25px;margin-right: 50px;}

.footer-logo {padding-bottom: 20px;}

.footer-1-end-con {padding-top: 20px;color: #00b5ff;}

.footer-2-col-wrap {color: black;font-size: 20px;margin-right: 50px;}

.footer-contact {font-family: monospace;padding-bottom: 20px;}

.footer-2-col-cantact p {padding-top: 15px;}

.footer-2-col-cantact {padding-bottom: 15px;}

.subscribe input {text-align: center;font-size: 17px;width: 123px;padding: 4px;border-radius: 5px;}

.subscribe p {font-size: 20px;color: white;border: 1px solid #31b3e8;background: #35aada;width: 140px;text-align: center;border-radius: 5px;padding: 5px;margin-top: 20px;}

.links p {color: black;font-size: 20px;padding-bottom: 20px;}

.links ul li {list-style: none;color: black;font-size: 17px;padding-top: 10px;}

.follow-us {color: black;font-size: 20px;}

.footer-3-con-wrap {margin-right: 50px;}

.footer-back {background: #F6F6F6;}